@media only screen and (max-device-width:499px){
.telco{
  display: flex !important;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
}
.top-item{
  height: 80vh;
  background-image: url('../imgs/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display:flex;
  justify-content: center;
   align-items: center;
   flex-direction: column;
}

.navbar-nav li a{
  font-size: larger;
  color: #607290;
  font-weight: bolder;
}

.navbar-nav li a:hover{
  color: white;

}
.item-2{
  background-color: #050510;
  color: white;
  padding-top: 3%;
  padding-bottom: 3%;

}
.item-2-discrip{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.btn-primary{
  width: 30% !important;
  border-radius: 40px !important;
  height: 25%;
}

.btn-primary:hover{
background:linear-gradient(160deg,#a11f85 0%,#d2538a 100%);
outline: none !important;
}

.item-3-body{
  color: #607290;
  padding: 0.3% 20% 2% 20%;

}

.item-3 p{
margin-top: 0em;
margin-bottom: 1.4em;
text-align: center;
} 
.item-3{
  padding-top: 3%;
}

.item-4-body h1 span{
 color: white;
}

.item-4-body p{
  color: #607290;
 }
 .item-4-body{
   padding-top: 3%;
   padding-bottom: 3%;
 }

.i34{
background-color: #060610;
}

#mobile-view{
  margin-top: 10%;
}
.img-res{
  height: 80px;
  width: 150px;
}

.item-6-body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
